<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portal Arquitectura</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog-home.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>

  </head>

  <!-- Header -->
  <header class="bg-primary text-white" id="header-pic" style="background-image: url('https://i.pinimg.com/originals/d2/43/27/d243277ebffa5416a2653403b1ec1dac.jpg')";
>
      <div class="container text-center">
        <h1 class="title fadeIn">Portal Arquitectura</h1>
      </div>
  </header>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Portal Arquitectura</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">¿Como trabajamos?</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Item</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Working Log</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Item</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reference Material</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Item</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AE Repositorio</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Item</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Internal Site</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Item</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="main-container">
      <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
          <!-- Post -->
          <div class="card mb-4">
            <div class="card-body">
                <p class="card-text">A través de este lugar, la Comunidad de Arquitectura Empresarial ofrece su experiencia integrada en piezas de arquitectura componentizadas y reutilizables.</p>
                <p>Esperamos que este sitio se convierta en un espacio de visitantes frecuentes para todos los interesados, donde encontrar las respuestas que buscan.</p>
                <p>Ofrecemos Body of Knowledge de AE compilado en nuestras bibliotecas y también la experiencia del Grupo.</p>
                <p>En nuestra visión, la experiencia compartida con los usuarios proporcionará nuevas oportunidades para mejorar la comprensión de los puntos de vista y los límites de esta organización, como es hoy y como se proyecta para ser.</p>
                <p>Bienvenido a nuestra casa.</p>
            </div>
          </div>
          <!-- Post -->
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title" style="margin-bottom:4%;">Quienes Somos</h2>
              <p class="card-text">Somos un equipo de profesionales que creamos una política de arquitectura empresarial, definimos normas, herramientas y marcos de diseño, aplicaciones e infraestructura que se utilizarán en toda la empresa para alcanzar los objetivos de negocio y las direcciones estratégicas. </p>
              <p>La arquitectura de TI garantiza que los objetivos de negocio y las direcciones estratégicas se traduzcan en soluciones arquitectónicas y apoyen la ejecución efectiva de la estrategia de la organización, proporcionando asesoramiento arquitectónico, diseño y soluciones necesarias. Garantiza que las soluciones y los cambios propuestos cumplan y cumplan con políticas y estándares de arquitectura de TI definidos.</p>
            </div>
          </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
          <!-- Categories Widget -->
          <div class="card my-4" id="sites-links">
            <h5 class="card-header">Sitios Arquitectura</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-9">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a class="cool-link" href="http://sisarqdec.corp.cablevision.com.ar">Decisiones</a>
                    </li>
                    <li>
                      <a class="cool-link" href="http://siskanboard.corp.cablevision.com.ar/">Kanboard</a>
                    </li>
                    <li>
                      <a class="cool-link" href="http://sisarqblog.corp.cablevision.com.ar/">Blog</a>
                    </li>
                  </ul>
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a class="cool-link" href="http://sisarqmapa.corp.cablevision.com.ar/">Modelo de Arquitectura</a>
                    </li>
                    <li>
                      <a class="cool-link" href="http://sisarqwiki.corp.cablevision.com.ar">Wiki</a>
                    </li>
                    <li>
                      <a class="cool-link" href="http://sisarqwiki.corp.cablevision.com.ar/doku.php?id=metodologia:principios">Principios</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Novedades Wiki</h5>
            <div class="card-body">
              {% for new in wiki_news %}
              <a href="{{new.url}}">{{new.last_modified}}: {{new.name}}</a><br>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
      </div>
      <!-- /.row -->
      <div class="container-quadrant">
          <div class="row">
            <div class="col-sm-6">
              <!-- Post -->
                <div class="quadrant-card-body">
                  <h2 class="card-title" style="margin-bottom:4%;">Como trabajamos</h2>
                  <p class="">En el cuerpo humano tenemos diferentes sistemas, con sus propios componentes y funciones, como el circulatorio o el respiratorio, que podrían verse independientes, pero que en realidad son interdependientes. Así debemos ver todos los sistemas en Cablevisión, como un único sistema articulado, y esta es la Arquitectura Empresarial. </p>
    </p>
                  <p>Trabajamos en equipo y metodológicamente, basados en una visión integral de la organización, alineando procesos, datos, aplicaciones e infraestructura tecnológica con los objetivos estratégicos del negocio o con la razón de ser de las entidades. En general, dentro de la Arquitectura Empresarial se identifican seis componentes: Estrategia, gobierno de TI, información, sistemas de información, servicios de tecnología, uso y apropiación. Su principal objetivo es garantizar la correcta alineación de la tecnología y los procesos de negocio en una organización, con el propósito de alcanzar el cumplimiento de sus objetivos estratégicos.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <!-- Post -->
                <div class="quadrant-card-body">
                  <h2 class="card-title" style="margin-bottom:4%;">Working Log</h2>
                  <p class="">El Working Log proporciona un área de repositorio para almacenar información compartida relacionada con el gobierno de los proyectos en curso. El mantenimiento de un repositorio compartido de información sobre el gobierno es importante porque:</p>
                  <div>
                    <ul class="quadrant-list">
                      <li>Las decisiones tomadas durante los proyectos (como las desviaciones de las normas o la justificación de un enfoque arquitectónico particular) son importantes para retener y acceder de manera continua. Por ejemplo, si se va a reemplazar un sistema, tener una visión de las decisiones arquitectónicas clave que dieron forma a la implementación inicial es muy valioso, ya que resaltará las limitaciones que de otro modo podrían ser oscurecidas.</li>
                      <li>Muchos stakeholders ​​están interesados ​​en los resultados del gobierno del proyecto (por ejemplo, otros proyectos, clientes del proyecto, el Consejo de Arquitectura, etc.).</li>
                    </ul>
                  </div>
                  <p>El Working Log contiene los siguientes elementos:</p>
                  <div id="menu">
                    <ul>
                      <li>•Portfolio Management</li>
                      <li>•Compliance Assessment</li>
                      <li>•Maturity Model</li>
                    </ul>
                    <ul>
                      <li>•Log de decisiones</li>
                      <li>•Log de recomendaciones</li>
                      <li>•Entregables</li>
                    </ul>
                    <ul>
                      <li>•Artefactos</li>
                      <li>•Performance Management</li>
                    </ul>
                  </div>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <!-- Post -->
                <div class="quadrant-card-body">
                  <h2 class="card-title" style="margin-bottom:4%;">AE Repositorio</h2>
                  <p class="">En este espacio podrán encontrar almacenados los componentes de la Arquitectura tales como catálogos, matrices y diagramas (Artefactos), sus relaciones, vistas, entre otros, tanto de la arquitectura actual como de la arquitectura target, así como los Roadmaps para llegar al estadío deseado.</p>
                </div>
            </div>

            <div class="col-sm-6">
              <!-- Post -->
                <div class="quadrant-card-body push">
                  <h2 class="card-title" style="margin-bottom:4%;">Reference Material</h2>
                  <p class="">Este espacio proporciona un repositorio para almacenar materiales de referencia que se deben utilizar para desarrollar arquitecturas, tales como;</p>
                  <div>
                    <ul>
                      <li>Building Blocks</li>
                      <li>SIB (base de estándares)</li>
                      <li>Reference Library: patrones, templates, guías</li>
                      <li>Best Practices</li>
                    </ul>
                  </div>
                  <p>Los materiales de referencia pueden ser obtenidos de una variedad de fuentes.</p>
                </div>
            </div>
              <!-- Post -->
          </div>
        </div>
    <!-- /.container -->
  </body>

</html>